.work-entry-container:first-of-type{margin-top: 186px;}

.work-entry-container{
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
}

.work-entry .image-container, .work-entry .text-container{
  border: 3px solid #FF7373;
  border-radius: 16px;
  background-size: cover;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  text-align: center;
  width: 70%;
  padding-bottom: 70%;
  position: relative;
  /* height: 0; */
}

.image{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 14px;
  background-size: auto 100%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-color: white;

  animation: move-image 20s ease-in-out infinite;
  animation-play-state:paused;
}

.image-container:hover .image{animation-play-state: running;}

@keyframes move-image{
  0%{background-position-x: 50%; background-position-y: 50%;}
  25%{background-position-x: 0%; background-position-y: 100%;}
  75%{background-position-x: 100%; background-position-y: 0%;}
  100%{background-position-x: 50%; background-position-y: 50%;}
}
.loader{
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: 14px;
  position: absolute;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-out;
  animation: fade-in 0.3s ease-out 1s;
}
@keyframes fade-in{100%: {opacity: 1}}

.loader.done{
  opacity: 0;
}

.work-entry .work-title{
  font-family: 'Oleo Script', serif;
  color: #FF7373;
  text-align: left;
}
.work-entry .tag-container{
  font-family: 'Oleo Script', serif;
  font-size: 10px;
  color: #333333;
  text-align: left;
}
.work-entry .text-container{
  position: relative;
  top: -46px;

  width: 80%;
  background: white;
  border-radius: 16px;
  clear: both;
  padding: 8px;

  font-size: 12px;
  color: #8D8D8D;
}

.work-entry .work-text{
  overflow-y: hidden;
  margin-top: 8px;
  text-align: left;
  margin-bottom: 8px;
}

.work-entry .work-button{
  font-size: 12px;
  border: 1px solid #FF7373;
  padding: 2px 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FF7373;
  border-radius: 32px;
  margin: 4px auto;
  outline: none;
  text-decoration: none;
}

.work-entry .work-button:hover{color: white; background: #FF7373; cursor: pointer;}
.work-entry .work-button:active{outline: none;}

.work-entry-container:nth-of-type(odd) .image-container{margin-left: 0; margin-right: 20%;}
.work-entry-container:nth-of-type(odd) .text-container{margin-left: 20%; margin-right: 0;}

.work-entry-container:nth-of-type(even) .image-container{margin-left: 20%; margin-right: 0;}
.work-entry-container:nth-of-type(even) .text-container{margin-left: 0; margin-right: 20%;}


@media only screen and (min-width: 768px){
  .work-entry-container:first-of-type{margin-top: 128px;}

  .work-entry .image-container{
    width: 80%;
    padding-bottom: 80%;
  }

  .work-entry .text-container{width: 70%;}

  .work-entry-container{padding: 0 30%;}

  .work-entry .text-container{
    top: -96px;
    width: 50%;
  }

  .work-entry-container:nth-of-type(odd) .image-container{margin-left: 0; margin-right: 20%;}
  .work-entry-container:nth-of-type(odd) .text-container{margin-left: 40%; margin-right: 0;}

  .work-entry-container:nth-of-type(even) .image-container{margin-left: 20%; margin-right: 0;}
  .work-entry-container:nth-of-type(even) .text-container{margin-left: 0; margin-right: 40%;}
}
