.loading-bar-container{
  position: absolute;
  float: right;
  left: 50%;
  z-index: 60;
  transition: top 1s ease-in;
}

.loading-bar-inner{
  margin-left: -50%;
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center; */
  width: 100%;
}

.loading-bar{
  width: 48px;
  margin-top: 8px;
}

.loading-bar-subtitle{
  text-align: center;
  flex: 0 0 100%;
  margin:0;
  transform: translateY(12px);
  opacity: 0;
  animation: fade-in-up 0.5s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes fade-in-up{100%{transform: translateY(0); opacity: 1}}

.loading-bar-title{
  position: relative;
  margin:0;
  /* margin-left: 20%; */
  white-space: nowrap;
  text-align: center;
  color: #E65151;
}

.loading-bar-title:before{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  max-width: 0;
  /* border-bottom: 2px solid #fff; */
  color: #fff;
  content: 'Sean Verhaagen';
  animation: loading-name 1s;
  animation-delay: 1.6s;
  white-space: nowrap;
  animation-fill-mode: forwards;

}

@keyframes loading-name {
  0%{max-width: 0%;}
  100%{max-width: 100%;}
}

/* .loading-bar-title:hover::before{max-width: 100%;} */

.loading-bar-dot{
  width: 8px;
  height: 8px;
  display: inline-block;
  animation: bounce 1s linear;
  animation-iteration-count: infinite;
  border-radius: 32px;
  margin: 0 4px;
  transition: opacity 0.3s ease-out;
}

.loading-bar-dot:nth-child(1){animation-delay: -0.32s;}
.loading-bar-dot:nth-child(2){animation-delay: -0.16s;}

.loading-bar.done .loading-bar-dot{opacity: 0;}

@keyframes bounce {
  0%{transform: scaleY(1) translateY(0);}
  10%{transform: scaleY(0.3) translateY(3px);}
  30%{transform: scaleY(1)}
  30%{transform: scaleY(1.3) translateY(-16px);}
  60%{transform: scaleY(0.6) translateY(3px)}
  80%{transform: scaleY(1) translateY(0);}
  100%{transform: scaleY(1) translateY(0);}
}
