.work{
  margin-top: 56px;

  transform: translateX(-256px);
  opacity: 0;

  transition: all 0.3s ease-out;
}

.work.work-enter-done{
  transform: translateX(0);
  opacity: 1;
}

.work.work-exit-done{
  transform: translateX(-256px);
  opacity: 0;
}
