*, body{
  font-family: 'Open-Sans', sans-serif;
  padding: 0;
  margin: 0;
  /* background: #E65151; */
}

#container{
  background: #E65151;
}

.site-subtitle{
  color: #C33333;
  font-weight: 800;
}

.site-title{
  font-family: 'Oleo Script', sans-serif;
  color: white;
}

.white{color: white;}

@media only screen and (min-width: 900px){
  #container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* overflow: hidden; */
  }
}
